{{> head}}




{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>This is about The simpson web page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum labore, excepturi harum eius error, atque ea exercitationem repudiandae perferendis commodi velit reiciendis ut dolorem, voluptatum dolores non iusto quo delectus!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/sofa-simpson.jpeg" class="img-thumbnail">
    </div>

</div>

{{> footer}}

